#title {
  text-align: center;
}

li {
  margin-bottom: 20px;
}

#tribute-info p::after {
  content: '"';
}

#tribute-info p::before {
  content: '"';
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#img-caption {
  margin: 10px;
  font-size: 20px;
}

#main {
  background-color: #dddddd;
}
